
*.properties
gradle/libs.versions.toml
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.9/fileHashes/resourceHashesCache.bin
.gradle/8.9/fileHashes/fileHashes.lock
.gradle/8.9/fileHashes/fileHashes.bin
.gradle/8.9/executionHistory/executionHistory.lock
.gradle/8.9/executionHistory/executionHistory.bin
gradle/libs.versions.toml
gradle/libs.versions.toml
local.properties
*.properties
local.properties
